.navBarOuter {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
}

.logo {
    height: 32px;
}

.navLinks {
    margin-left: auto;
    display: flex;
}

.navLinks li {
    margin-left: 56px;
}

.navLinks li a {
    color: white;
    opacity: 70%;
    transition: all 300ms ease;
}

.navLinks li a:hover {
    opacity: 100%;
}