.outerDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #00040F;
    color: white;
    padding: 10rem;
}

.billImg {
    height: 32rem;
    padding-right: 4.5rem;
    z-index: 10;
}

.rightBillDiv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.rightBillMiddle {
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.rightBillHead {
    font-size: 48px;
    font-weight: 600;
}

.rightBillBottom {
    display: flex;
    gap: 1rem;
}

.whiteGradient2 {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
    position: absolute;
    top: -30%;
    left: -45%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: 3;
}

.pinkGradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
    position: absolute;
    bottom: 0%;
    left: -58%;
    width: 50%;
    height: 50%;
    z-index: 0;
}