* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

button,
select {
    text-transform: none;
}

b,
strong {
    font-weight: bolder;
}